/* Reset iniciais */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

body {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 57%,
    rgba(62, 66, 66, 1) 100%
  );
  position: relative;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-left: -17px;
}

.box-hero {
  background-color: gold;
  padding: 40px;
  height: 60px;
  width: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.share {
  padding: 10px;
}

.box-share {
  outline: 2px solid gold;
  border: 3px solid #000;
  background-color: #fff;
  height: 50px;
  max-width: 420px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.share {
  height: 30px;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  outline: none;
}
.share::placeholder {
  text-align: center;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.card {
  width: 100%;
  max-width: 320px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  text-align: center;
  height: 380px;
  position: relative;
  transition: 0.6s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.carousel {
  position: relative;
  height: 180px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}

.carousel img {
  width: 100%;
  height: 180px;

  object-fit: cover;
}
.modal-content img {
  height: 250px;
  object-fit: cover;
}

.carousel img.active {
  display: block;
}

.card-body {
  padding: 15px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}
.btn-filter {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 19px;
  height: 80px;
  width: 150px;
  background-color: gold;
  font-weight: 700;
}
.btn-filter:hover {
  background-color: #e6c200;
  border: 2px solid #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.card .btn-open-modal {
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-content {
  text-align: center;
}
.modal-content h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
}
.modal-content p {
  font-size: 18px;
}
.adress {
  font-weight: 500;
  margin-top: 10px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.cards-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  animation: aparecer 0.3s ease;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
.site-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f2f2f2;
  color: #333;
  margin-top: 50px;
  font-size: 14px;
  bottom: 1px;
  width: 100%;
  position: fixed;
  height: 5px;
  font-weight: 700;
  border-top: 2px solid black;
}

@keyframes aparecer {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 765px) {
  .cards-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
