/* Reset iniciais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 57%,
    rgba(62, 66, 66, 1) 100%
  );
}
.box-hero{
  background-color: gold;
  padding: 40px;
  height: 60px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.box-share {
  border: 3px solid #000;
  background-color: #fff;
  height: 50px;
  width: 420px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.share {
  height: 30px;
  width: 600px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: transparent;
}
.share::placeholder {
  text-align: center;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.card {
  width: 280px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.carousel {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: none;
}

.carousel img.active {
  display: block;
}

.card-body {
  padding: 15px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}